<div style="width: 500px; background-color: white;box-shadow: 0 0 8px 7px rgba(10, 203, 237, 0.982);background-color: rgb(15, 53, 124); border-radius: 20px; display: flex ;flex-direction: column; gap:10px">
    <div>

        <p style="text-align: center; font-size: 35px;font-weight: 400;margin:20px">Signup</p>
        <div style="width: 100%;background-color: azure; height: 1px;"></div>
    </div>
    <div style="display: flex ; flex-direction: column; gap:30px;padding: 40px 40px; justify-content: center; height: 100%;">
        <input type="email" style="padding: 15px 20px; border-radius: 5px;border: 0px;  " placeholder="Username" />
        <input type="email" style="padding: 15px 20px; border-radius: 5px;border: 0px;  " placeholder="Email" />
        <input type="password"  style="padding: 15px 20px; border-radius: 5px;border: 0px;  " placeholder="Password" />
        <input type="password"  style="padding: 15px 20px; border-radius: 5px;border: 0px;  " placeholder="Confirm Password" />
        <div (click)="handleSignup()" class="button" >
            <p routerLink="/" style="color:rgb(244, 244, 248); font-weight: 500; font-size: 20px; ">Signup</p>
        </div>
        <p style="text-align: center;">Already have an account ? <a routerLink="/auth/login" >Login</a></p> 
    </div>
</div>