<div style="height: 100vh; width: 100vw;scrollbar-width: none;overflow: hidden;background-color: rgb(248, 244, 244);display: flex; flex-direction: column;">
    <app-topbar [type]="category" ></app-topbar>
    <mat-tab-group (selectedTabChange)="handleMatTabChange($event)" style="font-size: 20px; font-weight: 500;height: 100%;width: 100%; overflow: hidden;background-color: rgb(199, 242, 223);color: white; padding-top: 10px;"   mat-stretch-tabs="true" mat-align-tabs="start">
      
      <div style="color: white;"  *ngFor="let item of categories">
        <mat-tab  [label]="item" style="color:white" >
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                
                <app-viewcards   [category]="item"></app-viewcards>
            </div>
          
        </mat-tab>
      </div>
    </mat-tab-group>
   

      <a routerLink="/form" style="text-decoration: none;position: absolute; bottom: 100px; right: 100px; position: fixed;z-index: 10; ">
        <p class="add-card" >Add Card</p>
        
      </a>
    
    
</div>