<div style="height: 100vh; width: 100vw;scrollbar-width: none;overflow: hidden;background-color: rgb(8, 8, 8);display: flex; flex-direction: column;">
    <app-topbar></app-topbar>
    <mat-tab-group style="font-size: 20px; font-weight: 500;height: 100%;width: 100%; overflow: hidden;background-color: rgb(27, 26, 26);color: white; padding-top: 10px;" fitInkBarToContent="activeBar($event)"  mat-stretch-tabs="true" mat-align-tabs="start">
      
      <div  *ngFor="let item of categories">
        <mat-tab sr [label]="item" >

            <app-viewcards   [category]="item"></app-viewcards>
          
        </mat-tab>
      </div>
    </mat-tab-group>
   

      <a routerLink="/form" style="text-decoration: none;position: absolute; bottom: 100px; right: 100px; position: fixed;z-index: 10; ">
        <p class="add-card" >Add Card</p>
        
      </a>
    
    
</div>