<div
    style="display: flex;  flex-direction: row;padding: 10px 40px ; align-items: center; flex: 1; background-color: rgb(5, 78, 151)">
    <p class="user-profile">User Profile</p>
    <div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center; gap:40px">
        <!-- Upload Excel File -->
        <div class="file">
            <label for="file-upload" class="custom-file-choose"> Upload</label>
            <input (change)="onFileChange($event)" id="file-upload" type="file" accept=".xlsx" style="display: none" />
            
        </div>
        <!-- Download Excel File -->
        <div class="file">
            <label for="file-upload" class="custom-file-choose"> Download  </label>
            <input (change)="onFileChange($event)" id="file-upload" type="file" accept=".xlsx" style="display: none" />
           
        </div>
    </div>


</div>