.create {
    background-color: rgb(13, 183, 183);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;

    padding-bottom: 1px;
    border-radius: 20px;
    cursor: pointer;
}
.create:hover {
    opacity: 0.5;
}

.user-profile {
    background: -webkit-linear-gradient(#e9e8ea, #9ec6dd);
    -webkit-background-clip: text;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    flex: 1;
    display: flex;
    text-shadow: rgba(0, 0, 0, 0.938) 5px 13px 9px;
}
.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // left:200px;
    // top:10px;

    cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #138bcc;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin: 0px;
    transition: background-color 0.3s ease;
    border: none;
}

.custom-file-upload i {
    margin-right: 8px;
}

.custom-file-upload:hover {
    background-color: #17bfc5;
}

.custom-file-upload:focus {
    outline: none;

    box-shadow: 0 0 6px 6px rgba(14, 14, 14, 0.985);
}
@media screen and (max-width: 800px) {
    .side-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        margin:10px 0px;
    }
}

@media screen and (min-width: 800px) {
    .side-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    
}

.custom-file-choose {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 400;
    background: linear-gradient(79deg, rgb(42, 209, 227) 20%, rgb(20, 142, 195) 100%);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 10px 10px rgba(18, 15, 15, 0.427);
    transition: background-color 0.3s ease;
    border: none;
}

.custom-file-choose i {
    margin-right: 8px;
}

.custom-file-choose:hover {
    opacity: 0.5;
}

.custom-file-choose:focus {
    outline: none;

    box-shadow: 0 0 6px 6px rgba(14, 14, 14, 0.985);
}
